@-moz-document domain("discord.com") {
:root {
  --mander-font-family: "Source Code Pro";
  --mander-font-size: 12px;

  --mander-bg-dark: #101116;
  --mander-bg-darkisher: #101116;
  --mander-bg-darkish: #101116;
  --mander-bg-normal: #101116;
  --mander-bg-brighter: #4f616e;

  --mander-border: #353331;

  --mander-fg-brighter: #ffe6f6;
  --mander-fg-normal: #ffe6f6;
  --mander-fg-darker: #ffe6f6;
  --mander-fg-dark: #ffe6f6;
  --mander-fg-inactive: #4f616e;

  --mander-red: #db86ba;
  --mander-purple: #cbabf8;
  --mander-blue: #75dbe1;
  --mander-green: #06ffc0;
  --mander-aqua: #ff76e8;
  --mander-yellow: #e49186;
  --mander-orange: #db695b;

  --mander-accent: var(--mander-aqua);

  /* other stuff */
  --button: #daddee1a;
  -moz-tab-size: 2;
}

  .theme-dark {
        --header-primary: var(--mander-fg-darker);
        --header-secondary: var(--mander-fg-darker);
        --text-normal: var(--mander-fg-brighter);
        --text-muted: var(--mander-fg-darker);
        --text-link: var(--mander-accent);
        --channels-default: var(--mander-fg-darker);
        --interactive-normal: var(--mander-fg-darker);
        --interactive-hover: var(--mander-fg-brighter);
        --interactive-active: var(--mander-fg-brighter);
        --interactive-muted: var(--mander-fg-darker);
        --background-primary: var(--mander-bg-dark);
        --background-secondary: var(--mander-bg-dark);
        --background-secondary-alt: var(--mander-bg-dark);
        --background-tertiary: var(--mander-bg-dark);
        --background-accent: var(--mander-accent);
        --background-floating: var(--mander-bg-dark);
        --background-modifier-hover: rgba(79, 84, 92, 0.16);
        --background-modifier-active: rgba(79, 84, 92, 0.24);
        /*--background-modifier-accent: hsla(0, 0%, 100%, 0.06);*/
        --background-modifier-accent: rgba(0, 0, 0, 0);
        --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
        --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        --channeltextarea-background: var(--mander-bg-dark);
        --activity-card-background: var(--mander-bg-dark);
        --deprecated-panel-background: var(--mander-bg-dark);
        --background-modifier-selected: var(--mander-bg-dark);
        --elevation-low: none !important;
        --background-message-hover: var(--mander-bg-dark) !important;
    }

    * {
        font-family: var(--mander-font-family) !important;
        font-weight: normal !important;
        font-size: var(--mander-font-size) !important;
    }


    /* more dense sidebar */
    [class*="sidebar"] [class*="containerDefault"] [class*="mainContent"] {
        height: 25px !important;
    }
    [class*="sidebar"] [class*="containerDefault"] [class*="mainContent"] > * {
        font-size: 15px !important;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-track-handle,
    ::-webkit-scrollbar-track-piece {
        border-color: rgba(0, 0, 0, 0) !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }

    /* general */
    [class*="timestamp-"] > time {
    font-size: 0.75rem !important;
}
    
    [class*="colorBrand"] {
        color: var(--mander-accent);
    }

    [class*="colorDanger"] {
        color: var(--mander-red);
    }

    [class*="lookBlank"] {
        color: var(--mander-fg-darker);
    }

    [class*="input"]:focus {
        border-color: var(--mander-accent);
    }

    /* sections */
    [id*="popout"] [class*="container"] {
        background-color: var(--mander-bg-dark);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
        color: var(--mander-fg-brighter) !important;
    }
    [id*="popout"] [class*="container"] ::after {
        background-image: none !important;
    }

    [class*="live"][class*="textBadge"] {
        background-color: var(--mander-red) !important;
        color: var(--mander-fg-brighter);
    }

    [class*="navButtonActive"] {
        background-color: unset;
        color: var(--mander-fg-brighter);
    }

    [class*="option"][class*="selected"] {
        background-color: var(--mander-bg-dark) !important;
    }

    [class*="resultsGroup"] * {
        color: var(--mander-fg-darker) !important;
    }
    [class*="resultsGroup"] [class*="filter"] {
        color: var(--mander-fg-brighter) !important;
    }
    [class*="resultsGroup"] [class*="header"] {
        color: var(--mander-fg-brighter) !important;
    }

    [class*="peopleColumn"] {
        background-color: var(--mander-bg-dark);
    }

    [class*="section"] {
        background-color: var(--mander-bg-dark);
    }
    [class*="sidebar"] [class*="container"] [class*="header"] {
        background-color: var(--mander-bg-dark) !important;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }

    [class*="sidebar"] > [class*="container"],
    [class*="members"][class*="scroller"] {
        box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }

    [class*="scrollerWrap"] {
        border-radius: 10px !important;
    }

    [class*="membersWrap"] {
        /*border-top-left-radius: 15px;*/
        overflow: hidden;
    }

    /* message input area */
    [class*="chatContent"] [class*="form"] {
        padding-top: 0.5rem;
        background-color: var(--mander-bg-dark);
        box-shadow: 0 -30px 20px -30px rgba(0, 0, 0, 0.3);
    }

    [class*="textAreaSlate"] {
        background-color: var(--mander-bg-dark);
        border-radius: 13px;
        color: var(--fg-2);
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    [class*="textAreaSlate"] > * {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    [class*="userPopout"] [class*="body"],
    [class*="userPopout"] [class*="footer"] {
        background-color: var(--mander-bg-dark);
    }

    [class*="userPopout"] [class*="headerNormal"] {
        background-color: var(--mander-bg-dark);
    }

    [class*="headerPlaying"] * {
        background-color: var(--mander-accent) !important;
    }

    /* components */
    button[class*="lookFilled"] {
        background-color: var(--button) !important;
    }
    button[class*="buttonActive"][class*="lookFilled"] {
        background-color: var(--mander-accent) !important;
        color: var(--mander-bg-dark) !important;
    }

    button[class*="lookLink"] {
        color: var(--mander-fg-brighter) !important;
    }

    [class*="sprite"] {
        filter: brightness(80%) sepia(80%) saturate(60%) !important;
    }
    [class*="username"] {
        filter: sepia(30%) !important;
        transition: filter 0.2s;
    }
    [class*="username"]:hover {
        filter: sepia(20%) !important;
    }

    [class*="newMessagesBar-"] {
        background-color: var(--mander-accent);
        opacity: 1;
    }
    [class*="newMessagesBar-"] button {
        color: var(--mander-bg-dark) !important;
    }

    img[class*="avatar"] {
        filter: sepia(30%) !important;
        border-radius: 50%;
        overflow: hidden;
        transition: filter 0.1s, transform 0.1s ease-in-out;
    }
    img[class*="avatar"]:hover {
        filter: sepia(0%) !important;
        transform: scale(1.05);
    }

    [class*="pictureInPictureWindow"] {
        box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.5) !important;
    }

    [class*="divider"] {
        border-color: var(--mander-bg-dark);
    }
    [class*="divider"][class*="isUnread"] {
        border-color: var(--mander-red) !important;
    }

    [class*="unreadPill-"] {
        background-color: var(--mander-red);
    }

    [class*="unreadPillCap"] {
        fill: var(--mander-red);
    }
    button[class*="lookFilled"] {
        color: var(--mander-fg-brighter) !important;
    }

    [class*="live"][class*="textBadge"] {
        background-color: var(--mander-red) !important;
        color: var(--mander-fg-brighter);
    }

    [class*="modal"] [class*="queryContainer-"],
    [class*="modal"] [class*="resultsGroup-"],
    [class*="modal"] [class*="bodyInner-"],
    [class*="modal"] [class*="quickMessage-"],
    [class*="modal"] [class*="inner-"],
    [class*="modal"] [class*="header-"]:not(header):not(h2),
    [class*="modal"] [class*="uploadModal-"],
    [role*="dialog"] form {
        background-color: var(--mander-bg-dark) !important;
    }

    [role*="dialog"] form [class*="footer"] {
        background-color: var(--mander-bg-dark);
    }

    [class*="modal"] [class*="sourceScroller"],
    [class*="modal"] [class*="segmentContainer-"] [class*="segmentControl"]/*go live source selector header bar*/
    {
        background-color: var(--mander-bg-dark) !important;
    }
    [class*="modal"] [class*="header"] {
        padding-top: unset;
        padding: 0.4rem;
    }

    [class*="modal"] [class*="footer-"] {
        background-color: var(--mander-bg-dark) !important;
        filter: brightness(110%);
    }

    [class*="panels"] > *:nth-child(2) {
        padding-bottom: 0.5rem;
    }

    div[class*="chat"] div[class*="root"] {
        background-color: var(--mander-bg-dark);
    }

    div[class*="rtcConnectionStatus"] *,
    [class*="circleIconButton"] {
        color: var(--mander-accent) !important;
    }
    /* display info about code blocks  */
    code.hljs:not(.inline)::before {
        content: attr(class) !important;
        float: right;
        display: block;
        width: auto;
        max-width: 100px;
        text-align: right;
        min-width: auto;
        margin-top: -107px;
        line-height: 20px;
        overflow-x: hidden;
        scrollbar-width: none;
        color: var(--mander-fg-dark);
        opacity: 0.6;
    }

}
