// to-do: move colors to global location
$bg: #1d2021;
$fg: #ebdbb2;

// background colors
$bg0_h: #1d2021;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #7c6f64;
$bg4: #7c6f64;

// foreground colors
$fg: #ebdbb2;
$fg0: #fbf1c7;
$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

// grays 
$gray: #928374;
$lightgray: #a89984;
$middlegray: #928374;

// colors
$red: #cc241d;
$lightred: #fb4934;
$green: #98971a;
$lightgreen: #b8bb26;
$yellow: #d79921;
$lightyellow: #fabd2f;
$blue: #458588;
$lightblue: #83a598;
$purple: #b16286;
$lightpurple: #d3869b;
$aqua: #689d6a;
$lightaqua: #8ec07c;
$orange: #d65d0e;
$lightorange: #fe8019;

* {
    all: unset;
}

 // window config
window {
    background-color: $bg;
    color: $fg;
    font-family: 'Source Code Pro';
    font-size: 14px;
}

// bar config
.bar0 {
	background-color: $bg0_h;
	border-bottom-style: double;
	border-bottom-color:$fg;
	border-width: 1px;
	color: $gray;
}

.bar1 {
	background-color: $bg0_h;
	border-bottom-style: double;
	border-bottom-color:$fg;
	border-width: 1px;
	color: $gray;
}

// workspace config
.workspaces {
	padding-left: 5px;
	padding-right: 10px;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-color: $bg0_h $fg $bg0_h;
}

.workspace {
	padding-left: 5px;
	padding-right: 10px;
	font-family: 'Source Code Pro';
	font-size: 14px;
}

.workspace.focused {
	color: $blue;
	font-weight: bold;
}

.workspace.unfocused {
	color: $gray;
}

// divider and separator config
.divider {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: $bg0_h;
}

// module config -- sysinfo
.sysinfo {
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-color: $bg0_h;
}

.sysinfo.sect {
	padding-left: 10px;
	padding-right: 10px;
}

.sysinfo.bat {
	padding-left: 10px;
	padding-right: 10px;
}

// module config -- time
.time {
	color: $fg1;
	border-top-style: solid;
	border-top-width: 5px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-color: $bg0_h;
	font-size: 15px;
   }

// widget-collection config
.widget-collection {
	background-color: $bg0;
}

