@define-color foreground #e7dfdf;
@define-color foreground-inactive #655d5d;
@define-color background #1b1818;
@define-color background-alt #655d5d;
@define-color background-ws #8464c4;

* {
    font-family: Mononoki Nerd Font;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 1em;
    padding-right: 1.3em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    color: @background-alt;
    border-radius: 3px;
}

#workspaces button.focused {
    background-color: @background-ws;
    border-radius: 3px;
}

#wireplumber,
#tray,
#usage,
#net {
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#battery,
#memory,
#language,
#network {
    margin-right: 0.8em;
}
